.navbar-container{
    display: flex;
    height: 15vh;
    padding: 0% 15%;
    align-items: center;
    justify-content: space-between;
    .items-container{
        display: flex;
        justify-content: space-around;
        list-style: none;
        align-items: center;
        .logo{
            font-size: 22px;
        }
        li{
            padding: 0% 5%;
            cursor: pointer;
        }
    }
    .logo-container{
        h1{
            font-size:40px;
        }
    }
}
*{
    font-family: 'Poppins', sans-serif;
}