.container-ppal{
    height: 80vh;
    background-image: url('../img/puertoiglesia.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: flex-end;
}
.container-text{
    display: flex;
    align-items: flex-end;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1% 0%;
    p{
        text-align: center;
        font-size: 20px;
        padding: 1% 10%;
    }
    div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
.img-ceo{
    border-radius: 100em;
    height: 100px;
}
.ceo-text{
    color: gray;
    font-size: 17px;
    font-weight: 100;
    .bold{
        font-weight: bold;
    }
}
}

